@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
    margin: 0;
    padding: 0;
}
$colorPressed: #ff564c;
$colorUnpressed: #6d6d6d;
$width: 370px;
$height: 650px;

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff564c;
    width:100vw;
    height: 100vh;
    #container {
        audio {
            position: absolute;
            height: 0;
            width: 0;
        }
        width: $width;
        height: $height;
        // -webkit-box-shadow: 0px 3px 30px -15px rgba(0,0,0,0.75);
        // -moz-box-shadow: 0px 3px 30px -15px rgba(0,0,0,0.75);
        position: relative;
        #main{
            box-shadow:  0px 0px 20px 5px rgba(0, 0, 0, 0.4);
            width:100%;
            height:100%;
            position: relative;
            z-index: 2;
            transition: transform 0.4s ease-in-out;
            &.show{
                transform: translateX($width/2);
                transition: transform 0.4s ease-in-out;
            }
        #top {
            position: relative;
            display: flex;
            align-items:center;
            justify-content: center;
            height:55%;
            background-image: url('../assets/images/stressedout.jpg');
            background-size: cover;
            .loading {
                width: 50px;
                height: 50px;
                position:relative;
                div{
                    position: absolute;
                    border: 4px solid rgba(255, 255, 255, 0.9);
                    opacity: 1;
                    border-radius: 50%;
                    animation: lds-ripple 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
                }
                div:nth-child(2) {
                animation-delay: -0.5s;
                }
            }
            .menu {
                position: absolute;
                top: 20px;
                left: 20px;
                .menu-color{
                    fill: #959595;
                }
                :hover .menu-color{
                    fill: #bbb;
                }
                svg {
                        width:16px; 
                        height:16px; 
                        cursor: pointer;
                }
            }
            
            .search {
                position: absolute;
                top: 20px;
                right: 20px;
                .search-color{
                    fill: #959595;
                }
                :hover .search-color{
                    fill: #bbb;
                }
                svg {
                        width:16px; 
                        height:16px; 
                        cursor:pointer;
                }
            }         
        }
        #bottom {
            position: relative;
            height:45%;
            background-color: #111;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            #repro {
                height: auto;
                width: 100%;
                display: flex;
                flex-flow:column;
                justify-content: center;
                align-items: center;
                #song{
                    display:flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    h1{
                        text-transform: uppercase;
                        width:auto;
                        color: white;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 700;
                    }
                    h5{
                        width: auto;
                        color: #777777;
                        font-family: 'Open Sans';
                        font-size: 11px;
                        font-weight: 400;
                    }
                }

                #controls {
                    margin:25px 0;
                    display: flex;
                    height: auto;
                    width: 50%;
                    justify-content: space-between;
                    .btn-play{
                        
                    }
                    svg {
                        width:32px; 
                        height:32px; 
                        cursor: pointer;
                        .back{
                            fill: white;
                        }
                        .back:hover{
                            fill: #bbb;
                        }

                        .play{
                            fill: white;
                        }
                        .play:hover{
                            fill: #bbb;
                        }
                        .next{
                            fill: white;
                        }
                        .next:hover{
                            fill: #bbb;
                        }
                    }
                }
                #progressContainer{
                    width:100%;
                    height:20px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .currentTime, .totalTime{
                        width: auto;
                        color: #777777;
                        font-family: 'Open Sans';
                        font-size: 11px;
                        font-weight: 400;
                    }
                    .progressBar {
                        cursor: pointer;
                        width:65%;
                        height:4px;
                        border-radius:2px;
                        background-color: #bbb;
                        .fillProgress{
                            width:0%;
                            height:100%;
                            background-color: $colorPressed;
                            border-radius:3px;
                        }
                    }
                }

            }
        }
            footer {
                position: absolute;
                bottom: 0px;
                height: 20%;
                width:100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                svg {
                        width:15px; 
                        height:15px; 
                        cursor: pointer;
                }
                .pressed {
                    fill: $colorPressed;
                }

                .unpressed{
                     fill:$colorUnpressed;
                }
            }

            
        }
    }
    ol#playlist {
        width: $width;
        height: $height/2;
        position:absolute;
        top: ($height/2)/2;
        background-color: #111;
        list-style-type: none;
        transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s;
        box-shadow: -2px 20px 15px rgba(0, 0, 0, 0.4);
        overflow-y: scroll;
        scroll-behavior: smooth;
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #111;
        }
        &::-webkit-scrollbar{
            width: 12px;
            background-color: #111;
        }
        &::-webkit-scrollbar-thumb{
         	border-radius: 10px;
            background-color: $colorUnpressed;
        }
                li {
                    &:hover {
                    cursor: pointer;
                }
                    &.playing{
                        background-color: #000;
                        source, span {
                            color: $colorPressed;
                        }
                    }
                    source {
                        text-decoration: none;
                        color: black;
                        // display: inline-block;
                        width: 300px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width:auto;
                        color: white;
                    }
                    span {
                        color: white;
                        font-family: 'Open Sans';
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .title{
                        text-transform: uppercase;
                    }
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 10px;
                    align-items: center;
                    width: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.show{
                    transform: translateX(-$width/2);
                    transition: transform 0.4s ease-in-out, 0s box-shadow 0.05s;
                }
            }
        
    }

    @media (max-width:375px){
        body{
            padding:0;
            #container{
                width: 100vw;
                height: 100vh;
                #bottom{
                    #repro{
                        #song{
                            h1{
                                font-size: 16px;
                            }
                            h5{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width:376px){
        #cora:hover .cora-color{
            fill:#bbb;
        }


        #shuffle:hover .shuffle-color{
            fill: #bbb;
        }
                    
        #repeat:hover .repeat-color{
            fill: #bbb;
        }

        #dots:hover .dots-color{
            fill: #bbb;
        }
    }




